<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<nlog autoReload="true">
		<targets>
			<target name="WriteTo"
					type="File"
					deleteOldFileOnStartup="false"
					layout="${longdate}[${pad:padding=-5:inner=${level:uppercase=true}}]${message}"
					fileName="C:\\EAP_Log/${gdc:item=logDirectory}/${logger}/${date:format=yyyyMMdd}/${level}/${logger}_${level}_${date:format=HH}.log"
					archiveFileName="C:\\EAP_Log/${gdc:item=logDirectory}/${logger}/${date:format=yyyyMMdd}/${level}/${logger}_${level}_${date:format=HH}.{#####}.log"
					archiveAboveSize="10485760"
					archiveNumbering="Sequence"
					MaxArchiveFiles="50"
					concurrentWrites="true"
					keepFileOpen="false" />
			<target name="WriteToInfo" 
					type="File" 
					deleteOldFileOnStartup="false" 
					layout="${longdate}[${pad:padding=-5:inner=${level:uppercase=true}}]${message}" 
					fileName="C:\\EAP_Log/${gdc:item=logDirectory}/${logger}/${date:format=yyyyMMdd}/Info/${logger}_Info_${date:format=HH}.log" 
					archiveFileName="C:\\EAP_Log/${gdc:item=logDirectory}/${logger}/${date:format=yyyyMMdd}/Info/${logger}_Info_${date:format=HH}.{#####}.log" 
					archiveAboveSize="10485760" archiveNumbering="Sequence" MaxArchiveFiles="50" concurrentWrites="true" keepFileOpen="false" />
			
			<target name="ServiceWriteTo"
					type="File"
					deleteOldFileOnStartup="false"
					layout="${longdate}[${pad:padding=-5:inner=${level:uppercase=true}}]${message}"
					fileName="C:\\EAP_Log/${gdc:item=logDirectory}/Service/${date:format=yyyyMMdd}/${level}/Service_${level}_${date:format=HH}.log"
					archiveFileName="C:\\EAP_Log/${gdc:item=logDirectory}/Service/${date:format=yyyyMMdd}/${level}/Service_${level}_${date:format=HH}.{#####}.log"
					archiveAboveSize="10485760"
					archiveNumbering="Sequence"
					MaxArchiveFiles="50"
					concurrentWrites="true"
					keepFileOpen="false" />
			<target name="ServiceWriteToInfo"
					type="File"
					deleteOldFileOnStartup="false"
					layout="${longdate}[${pad:padding=-5:inner=${level:uppercase=true}}]${message}"
					fileName="C:\\EAP_Log/${gdc:item=logDirectory}/Service/${date:format=yyyyMMdd}/Info/Service_Info_${date:format=HH}.log"
					archiveFileName="C:\\EAP_Log/${gdc:item=logDirectory}/Service/${date:format=yyyyMMdd}/Info/Service_Info_${date:format=HH}.{#####}.log"
					archiveAboveSize="10485760" archiveNumbering="Sequence" MaxArchiveFiles="50" concurrentWrites="true" keepFileOpen="false" />
		</targets>
		<rules>
			<logger name="Connection.PLC" levels="Error,Debug,Trace" writeTo="WriteTo" />
			<logger name="Connection.PLC" levels="Warn,Info" writeTo="WriteToInfo" final="true" />

			<logger name="Connection.RV" levels="Error,Debug,Trace" writeTo="WriteTo" />
			<logger name="Connection.RV" levels="Warn,Info" writeTo="WriteToInfo" final="true" />

			<logger name="Connection.WCF" levels="Error,Debug,Trace" writeTo="WriteTo" />
			<logger name="Connection.WCF" levels="Warn,Info" writeTo="WriteToInfo" final="true" />

			<logger name="Connection.OPC" levels="Error,Debug,Trace" writeTo="WriteTo" />
			<logger name="Connection.OPC" levels="Warn,Info" writeTo="WriteToInfo" final="true" />

			<logger name="Connection.TCP" levels="Error,Debug,Trace" writeTo="WriteTo" />
			<logger name="Connection.TCP" levels="Warn,Info" writeTo="WriteToInfo" final="true" />

			<logger name="Workbench.Framework" levels="Error,Debug,Trace" writeTo="WriteTo" />
			<logger name="Workbench.Framework" levels="Warn,Info" writeTo="WriteToInfo" final="true" />

			<logger name="EDAMessageService" levels="Debug,Error,Trace" writeTo="WriteTo" />
			<logger name="EDAMessageService" levels="Warn,Info" writeTo="WriteToInfo" final="true" />

			<logger name="FDCMessageService" levels="Debug,Error,Trace" writeTo="WriteTo" />
			<logger name="FDCMessageService" levels="Warn,Info" writeTo="WriteToInfo" final="true" />

			<logger name="RMSMessageService" levels="Debug,Error,Trace" writeTo="WriteTo" />
			<logger name="RMSMessageService" levels="Warn,Info" writeTo="WriteToInfo" final="true" />

			<logger name="MESMessageService" levels="Debug,Error,Trace" writeTo="WriteTo" />
			<logger name="MESMessageService" levels="Warn,Info" writeTo="WriteToInfo" final="true" />


			<logger name="TCPMessageHandler" levels="Error,Trace" writeTo="ServiceWriteTo" />
			<logger name="TCPMessageHandler" levels="Error,Debug,Warn,Info" writeTo="ServiceWriteToInfo" final="true" />

			<logger name="OPCMessageHandler" levels="Error,Trace" writeTo="ServiceWriteTo" />
			<logger name="OPCMessageHandler" levels="Error,Debug,Warn,Info" writeTo="ServiceWriteToInfo" final="true" />

			<logger name="OPCMessageService" levels="Error,Trace" writeTo="ServiceWriteTo" />
			<logger name="OPCMessageService" levels="Error,Debug,Warn,Info" writeTo="ServiceWriteToInfo" final="true" />
			
			<logger name="TCPMessageService" levels="Error,Trace" writeTo="ServiceWriteTo" />
			<logger name="TCPMessageService" levels="Error,Debug,Warn,Info" writeTo="ServiceWriteToInfo" final="true" />

			<logger name="OPC_Driver" levels="Error,Debug,Trace" writeTo="WriteTo" />
			<logger name="OPC_Driver" levels="Warn,Info" writeTo="WriteToInfo" final="true" />

			<logger name="TCP_Driver" levels="Error,Debug,Trace" writeTo="WriteTo" />
			<logger name="TCP_Driver" levels="Warn,Info" writeTo="WriteToInfo" final="true" />
			
			<logger name="Service" levels="Error,Debug,Trace" writeTo="WriteTo" />
			<logger name="Service" levels="Warn,Info" writeTo="WriteToInfo" final="true" />
		</rules>
	</nlog>
	<runtime>
		<loadFromRemoteSources enabled="true"></loadFromRemoteSources>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="netstandard" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="EapID" value="KQX-JXS" />
		<add key="DbConstr" value="server=10.171.206.10;uid=wmsviewread;pwd=Wmsview@read;database=WOGEE60JP"/>
		<add key="FlsUrl" value="http://127.0.0.1:8080/EAP/AGV"/>
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>