<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connections>
		<KQX-JXS>
			<TCPConnectionList>
				<TCPConnection Use="Y">
					<Name>KQX-JXS-01</Name>
					<Port>9000</Port>
					<EapIpAddress>127.0.0.1</EapIpAddress>
					<Timeout>6000</Timeout>
					<DriverType>HttpServer</DriverType>
				</TCPConnection>
				<TCPConnection Use="Y">
					<Name>DCR01</Name>
					<Port>2001</Port>
					<EapIpAddress>10.171.133.2</EapIpAddress>
					<Timeout>6000</Timeout>
					<DriverType>Client</DriverType>
				</TCPConnection>
				<TCPConnection Use="Y">
					<Name>DCR01_1</Name>
					<Port>2001</Port>
					<EapIpAddress>10.171.133.3</EapIpAddress>
					<Timeout>6000</Timeout>
					<DriverType>Client</DriverType>
				</TCPConnection>
				<TCPConnection Use="Y">
					<Name>DCR02</Name>
					<Port>8002</Port>
					<EapIpAddress>127.0.0.1</EapIpAddress>
					<Timeout>6000</Timeout>
					<DriverType>Client</DriverType>
				</TCPConnection>
				<TCPConnection Use="Y">
					<Name>DCR02_1</Name>
					<Port>8012</Port>
					<EapIpAddress>127.0.0.1</EapIpAddress>
					<Timeout>6000</Timeout>
					<DriverType>Client</DriverType>
				</TCPConnection>
				<TCPConnection Use="Y">
					<Name>DCR03</Name>
					<Port>8003</Port>
					<EapIpAddress>127.0.0.1</EapIpAddress>
					<Timeout>6000</Timeout>
					<DriverType>Client</DriverType>
				</TCPConnection>
				<TCPConnection Use="Y">
					<Name>DCR03_1</Name>
					<Port>8013</Port>
					<EapIpAddress>127.0.0.1</EapIpAddress>
					<Timeout>6000</Timeout>
					<DriverType>Client</DriverType>
				</TCPConnection>
				<TCPConnection Use="Y">
					<Name>DCR04</Name>
					<Port>8004</Port>
					<EapIpAddress>127.0.0.1</EapIpAddress>
					<Timeout>6000</Timeout>
					<DriverType>Client</DriverType>
				</TCPConnection>
				<TCPConnection Use="Y">
					<Name>DCR04_1</Name>
					<Port>8014</Port>
					<EapIpAddress>127.0.0.1</EapIpAddress>
					<Timeout>6000</Timeout>
					<DriverType>Client</DriverType>
				</TCPConnection>
				<TCPConnection Use="Y">
					<Name>DCR05</Name>
					<Port>8005</Port>
					<EapIpAddress>127.0.0.1</EapIpAddress>
					<Timeout>6000</Timeout>
					<DriverType>Client</DriverType>
				</TCPConnection>
				<TCPConnection Use="Y">
					<Name>DCR05_1</Name>
					<Port>8015</Port>
					<EapIpAddress>127.0.0.1</EapIpAddress>
					<Timeout>6000</Timeout>
					<DriverType>Client</DriverType>
				</TCPConnection>
			</TCPConnectionList>
		</KQX-JXS>
		<AppConfig UseAppDomain="1"/>
	</connections>
</configuration>